body {
    padding: 0;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color: rgb(225, 220, 220);
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.classContainer {
    display: block;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Header */
.classHeader {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    height: 200px;
    justify-content: space-between;
    margin-bottom: 10px;
    /* background: url(./assets/images/logotype.png) left no-repeat; */
    background: url(./assets/images/logotype.png) left no-repeat;
}

.classHeaderLogo {
    display: flex;
    width: 50%;
    height: 200px;
}

.classHeaderContacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #164b96;
    width: 50%;
    height: 200px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

/* Nav Menu */
.classNav {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    background-color: #EAECEF;
    text-align: center;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.navMenuBox {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-start;
}

.classNavMenuItem {
    display: flex;
    /* width: 25%; */
    /* margin-left: 20px; */
    padding: 0 20px;
    align-items: center;
    background-color: #EAECEF;
    color: #6693d3;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 4px;
    border: 0px;
    border-right: 3px solid white;
    transition: .3s;
    cursor: pointer;
}

.classNavMenu

.classNavMenuItem:hover {
    color:  #303877;
    /* font-size: 17px; */
    transform: scale(1.1, 1.1);
}

.classNavEnter {
    background-color: #EAECEF;
    width: 10%;
}

.classNavEnter:hover {
    font-size: 18px;
}

.classNavMenuUser {
    color: green;
    width: 20%;
    justify-content: center;
}


/* Slider */
.classSlider {
    display: flex;
    width: 100%;
    height: 200px;
    transition: .5s;
    background: url(./assets/images/slider_cool.webp) center no-repeat;
    margin-bottom: 10px;
}

.classSlider1 {
  background: url(./assets/images/slider_vesta.webp) center no-repeat;
}
.classSlider2 {
  background: url(./assets/images/slider_gazelle.jpg) center no-repeat;
}

.classSlider3 {
  background: url(./assets/images/slider_largus.webp) center no-repeat;
}

.classSlider4 {
  background: url(./assets/images/slider_uaz.webp) center no-repeat;
}

.classSlider5 {
  background: url(./assets/images/slider_cool.webp) center no-repeat;
}

/* main block */
.classMainBlock {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 10px;
}

/* leftMenu */
.classLeftMenu {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding-top: 10px;
    width: 15%;
    background-color: #EAECEF;
    margin-right: 10px;
    align-items: center;
    justify-content: start;
    height: auto;
}

.classLeftMenuItem {
    display: flex;
    width: 60%;
    height: 25px;
    margin-bottom: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    color: #6693d3;
    border-radius: 4px;
    border: 0px;
    border-bottom: 3px solid white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}

.classLeftMenuItem:hover {
    color:  #303877;
    font-size: 17px;
}

.classNavMenuItem:focus, .classNavMenuItem:active,
.classNavEnter:focus, .classNavEnter:active,
.classLeftMenuItem:active, .classLeftMenuItem:focus  {
    outline: none;
    color: rgb(11, 195, 246);
}
/* showCase */
.classShowCase {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    height: auto;
    /* background-image: url('/home/aka/projects/ruscar-react/src/assets/images/car/car1_2101.jpg'); */
}

.showCaseCard {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 280px;
    margin: 5px 0 5px 5px;
    transition: .3s;
}

.showCaseCard:hover {
    transform: scale(1.1, 1.1);
}

.showCaseCardImg {
    display: flex;
    width: 100%;
    height: 200px;
    background-size: cover;
}


.showCaseCardInfo {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
}

.cardInfoBox {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80px;
    background-color: #EAECEF;
}

.cardInfoBrand {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    height: 27px;
    border-bottom: 1px solid white;
    background-color: #EAECEF;
}

.cardInfoPrice {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    font-family: 'Montserrat',sans-serif;
    width: 100%;
    height: 27px;
    border-bottom: 1px solid white;
    background: #EAECEF;
}

.cardInfoRating {
    display: flex;
    background-color: #EAECEF;
    width: 40%;
    margin-left: 3px;
    margin-top: 3px;
    height: 15px;
    background-size: cover;
    
}

.cardButtonBuy {
    border: 0px;
    border-radius: 5px;
    background-color: #bfd4f2;
    color: #164b96;
    font-size: 16px;
    transition: .4s;
    margin: 0;
    padding: 10px;
}

.cardButtonBuy:hover {
    color: #bfd4f2;
    background-color: #164b96;
}

/* footer */
.classFooter {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-color: #EAECEF;
    justify-content: start;
    background-image: url(./assets/images/footer.png);
}

.classFooterLogo {
    display: flex;
    align-content: flex-start;
    margin-left: 20px;
    /* margin-right: 500px; */
    height: 200px;
    width: 70%;
    /* background-size: cover ; */
    background-size: contain;
    background-image: url(./assets/images/footer_logo.png);
}

.classFooterItem {
    display: flex;
    box-sizing: border-box;
    align-content: flex-end;
    flex-direction: column;
    padding-top: 20px;
    height: 200px;
    width: 15%;
    color: rgb(225, 220, 220);
    align-items: flex-start;
}

.classFooterContactsText {
    font-size: 12px;
    color: rgb(225, 220, 220);
    text-align: left;
    margin-top: 0;
}

.classFooterLink {
    margin-top: 0;
    color: rgb(215, 208, 233);
    transition: .3s;
    font-size: 12px;
}

.classFooterLink:hover {
    color: #F8F3FB;
}


/* Окно регистрации и входа */
#shadow { 
    display: none;
    /* display: block; */
    position: fixed;
    width:100%;
    height:100%;
    z-index:1; 
    background:#000;
    opacity: 0.5; 
    left:0;
    top:0;
}

#enterWindow {
    display: none;
    /* display: block; */
    padding: 60px 40px;
    width: 300px;
    height: 250px;
    border: 3px outset gray;
    border-radius: 10px;
    font-size: 14px; 
    position: fixed;
    margin: 0 auto;
    z-index: 3;
    top: 10%;
    left: 0;
    right: 0;
    background-color: white;
}

#registerWindow {
    display: none;
    /* display: block; */
    padding: 60px 40px;
    width: 300px;
    height: 400px;
    border: 3px outset gray; 
    border-radius: 10px;
    font-size: 14px; 
    position: fixed;
    margin: 0 auto;
    z-index: 3;
    top: 10%;
    left: 0;
    right: 0;
    background-color: white;
}

#windowBuy {
    display: none;
    /* display: block; */
    padding: 60px 40px;
    width: 300px;
    height: 100px;
    border: 3px outset gray; 
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
    position: fixed;
    margin: 0 auto;
    z-index: 3;
    top: 10%;
    left: 0;
    right: 0;
    background-color: white;
}

.windowHeader {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.head {
    display: flex;
    font-size: 30px;
    color: rgb(213, 216, 218);
    cursor: pointer;
}

.classActive {
    color: black;
}

.formSign {
    width: 100%;
    height: 300px;
}

.inputName {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.goButton {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 140px;
    height: 40px;
    margin-right: 10px;
    margin-top: 40px;
}

.goButtonBuy {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    width: 80px;
    
}

.goButtonReg {
    margin-top: 40px;
}


/* **** адаптивная верстка *** */
@media (max-width:900px) { 

    .classHeaderLogo {
        display: flex;
        width: 75%;
        height: 200px;
        /* background-size: contain;
        background-size: cover no-repeat; */
    }

    .classHeaderContacts {
        font-size: 15px;
    }

    .classNav {
        padding: 5px 0;
        width: 100%;
        height: 30px;
        margin-bottom: 5px;
    }

    .classNavMenuItem {
        width: 30%;
        margin-left: 5px;
        padding: 0 3px;
        font-size: 10px;
        font-weight: 100;
    }

    .classNavMenuItem:hover {
        font-size: 10px;
    }

    .classNavEnter:hover {
        font-size: 11px;
    }
    
    .classSlider {
        margin-bottom: 5px;
        height: 150px;
    }

    .classMainBlock {
        margin-bottom: 5px;
    }

    .classLeftMenu {
        display: none;
    }

    .classShowCase {
        width: 100%;
    }

/* ---------------- */
    .showCaseCard {
        width: 49%;
        height: auto;
        margin: 5px 0 5px 5px;
    }

    .showCaseCardImg {
        height: 300px;
        background-size: cover;
    }

    .showCaseCardInfo {
        width: 100%;
        height: 80px;
        background-color: white;
    }

    .cardInfoBox {
        width: 85%;
        height: 80px;
    }
}


@media (max-width:600px) {
    .classHeader {
        display: none;
    }

    .classHeaderLogo {
        height: 100px;
    }
    
    .classHeaderContacts {
        width: 50%;
        height: 100px;
        font-size: 10px;
    }


    .classSlider {
        display: none;
    }
    .showCaseCard {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .showCaseCardImg {
        height: 300px;
        width: 100%;
        background-size: cover;
    }

    .cardInfoBox {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 80px;
        background-color: #EAECEF;
    }

    .showCaseCardInfo {
        width: 100%;
        height: 80px;
        background-color: white;
    }

    .cardInfoBrand {
        padding-left: 10px;
        font-size: 10px;
        font-weight: 100;
        width: 100%;
        height: 20px;
    }
    
    .cardInfoPrice {
        padding-left: 10px;
        font-size: 11px;
        font-weight: 400;
        width: 100%;
        height: 20px;
    }
    
    .cardInfoRating {
        width: 40%;
        height: 30px;
        background-size: cover;
    }
    
    .cardButtonBuy {
        border: 0px;
        border-radius: 5px;
        background-color: #bfd4f2;
        color: #164b96;
        font-size: 12px;
        transition: .4s;
        margin: 0;
        padding: 10px;
    }

    .showCaseCard:hover {
        transform: scale(1, 1);
    }


    /* Регистрация и вход*/

    #enterWindow {
        padding: 30px 20px;
        width: 150px;
        height: 180px;
        border-radius: 4px;
        font-size: 10px; 
    }

    #registerWindow {
        padding: 30px 20px;
        width: 150px;
        height: 250px;
        border-radius: 4px;
        font-size: 10px; 
    }

    #windowBuy {
        padding: 30px 20px;
        width: 150px;
        height: 50px;
        border-radius: 4px;
        top: 40%;
        font-size: 10px; 
    }

    .inputName {
        width: 40%;
        height: 15px;
        padding-left: 5px;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .windowHeader {
        height: 20px;
        margin-bottom: 20px;
    }

    .head {
        font-size: 15px;
    }

    .formSign {
        width: 100%;
        height: 150px;
    }

    .inputName {
        width: 100%;
        height: 15px;
        padding-left: 5px;
        font-size: 8px;
        margin-bottom: 10px;
    }

    .goButton {
        font-size: 10px;
        width: 150px;
        height: 20px;
    }

    .goButtonBuy {
        font-weight: 400;
        width: 40px;
    }

    .goButtonReg {
        margin-top: 50px;
    }

    /* footer */

    .classFooter {
        width: 100%;
        height: 150px;
    }

    .classFooterLogo {
        display: none;
    }

    .classFooterItem {
        padding-left: 30px;
        padding-top: 10px;
        height: 150px;
        width: 50%
    }

    .classFooterContactsText {
        font-size: 8px;
    }

    .classFooterLink {
        font-size: 8px;
    }
}

@media(max-width:450px) {

    .showCaseCardImg {
        height: 200px;
        width: 100%;
        background-size: cover;
    }

    .cardInfoBox {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 60px;
        background-color: #EAECEF;
    }

    .showCaseCardInfo {
        width: 100%;
        height: 60px;
        background-color: white;
    }

    .cardInfoBrand {
        height: 20px;
    }

    .cardInfoRating {
        width: 40%;
        height: 20px;
        background-size: cover;
    }
    
}









/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
